.App {
    text-align: center;
    background-color: antiquewhite;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto {
    margin-top: 0;
    color: purple;
}

.botao {
    padding: 20px;
    border: 3px solid purple;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    color: violet;
    background-color: black;
}